{% extends "base.html" %}

{% block body_class %}dashboard-mode due-today-page{% endblock %}

{% block content %}
<style>
    .container {
        width: 90%;
        max-width: 700px;
        margin: 40px auto;
    }

    h2 {
        text-align: center;
        color: white;
        margin-bottom: 25px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .card {
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        background: white(255, 255, 255, 0.35);
        border-radius: 20px;
        padding: 22px;
        margin: 15px 0;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        color: #1e3d4a;
        transition: 0.3s ease;
    }

    .card:hover {
        transform: translateY(-4px);
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        color: #1e3d4a;
        margin-bottom: 8px;
    }

    .info-text {
        margin: 5px 0;
        font-size: 1rem;
    }

    .back-link {
         display: inline-block;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(6px);
        transition: 0.3s;
    }

    .back-link:hover {
        background: rgba(255, 255, 255, 0.4);
    }
</style>
<div class="center-wrapper">
     <div class="dashboard-wrapper">
        <h2 class="dashboard-heading">Due Today</h2>

        <div class="container">
             <div class="Due-container">
            
                {% for r in reminders %}
                      <div class="card">
                          {% if session['role'] == 'guardian' %}
                             <small><strong>Elder:</strong> {{ r['elder_name'] }}</small><br><br>
                 {% endif %}

                 <div class="title">{{ r['title'] }}</div>
                    <p class="info-text"><strong>Date:</strong> {{ r['date'] }}</p>
                    <p class="info-text"><strong>Time:</strong> {{ r['time'] }}</p>
                 </div>
                 {% else %}
        <div class="card" style="text-align: center;">
            <p>No reminders today. Relax!</p>
        </div>
    {% endfor %}

    <a href="{{ url_for('view_reminders') }}" class="back-link">
        ← Back
    </a>
</div>
{% endblock %}