{% extends "base.html" %}
{% block body_class %}dashboard-mode{% endblock %}

{% block content %}

<div class="container mt-4">
<br>

<h1 class="sos-page-title">🚨 Latest SOS Alerts</h1>

{% if alerts %}
    <div class="sos-wrapper">

        {% for a in alerts %}
        <div class="sos-card">

            <h3 class="sos-name">{{ a.elder_name }}</h3>

            <p class="sos-time">
                <strong>Time:</strong> {{ a.date_time }}
            </p>

            <p><strong>Status:</strong> {{ a.status }}</p>
            {% if a.status == 'pending' %}
             <a href="{{ url_for('resolve_sos', id=a.id) }}">
            <button class="sos-btn-danger">🚨 Mark Resolved</button>
            </a>
            {% else %}
            <p class="sos-status resolved">✔ Resolved</p>
            {% endif %}
        </div>
        {% endfor %}

    </div>

{% else %}
    <p style="text-align:center;">No active SOS alerts</p>
{% endif %}

<div class="sos-history-link">
    <a href="{{ url_for('guardian_sos_alerts') }}">
        View Full History →
    </a>
</div>

</div>

{% endblock %}