{% extends "base.html" %}
{% block body_class %}dashboard-mode{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-wrapper">

        <div class="dashboard-heading">
            <h2>Guardian Dashboard</h2>
            <p>Monitor and support your elders efficiently</p>
        </div>

        <div class="dashboard">

            <div class="card">
                <h3>View My Elders</h3>
                <a href="{{ url_for('view_elders') }}">
                    <button class="btn-small">Go</button>
                </a>
            </div>

            <div class="card">
                <h3>Reminders</h3>
                <a href="{{ url_for('view_reminders') }}">
                    <button class="btn-small">Go</button>
                </a>
            </div>

            <div class="card">
                <h3>Emergency Alerts</h3>
                <a href="{{ url_for('guardian_latest_sos') }}">
                    <button class="btn-small">Go</button>
                </a>
               
            </div>

            <!-- NEW CARD -->
            <div class="card">
                <h3>Latest Health Records</h3>
                <a href="{{ url_for('guardian_health') }}">
                    <button class="btn-small">Go</button>
                </a>
            </div>

            <!-- NEW CARD -->
            <div class="card">
                <h3>Latest Mood Status</h3>
                <a href="{{ url_for('guardian_latest_moods') }}">
                    <button class="btn-small">Go</button>
                </a>
            </div>

        </div>

    </div>
</div>
<audio id="sosSound" src="{{ url_for('static', filename='alert.mp3') }}"></audio>

<script>
let lastSOS = null;
let audio = document.getElementById("sosSound");

function checkSOS() {
    fetch('/check_new_sos')
    .then(res => res.json())
    .then(data => {
        if (data.new && data.id !== lastSOS) {
            lastSOS = data.id;

            // 🔊 Play ONLY when SOS comes
            audio.currentTime = 0;
            audio.play();

            alert("🚨 SOS ALERT RECEIVED!");
        }
    });
}

// Check every 5 sec
setInterval(checkSOS, 5000);
</script>

{% endblock %} 