{% extends "base.html" %}
{% block body_class %}dashboard-mode{% endblock %}
{% block content %}

<div class="container mt-4">
<br>
<h1 class="sos-page-title">
    🚨 Latest SOS Alert
</h1>
{% if alert %}
<div class="sos-wrapper">
    <div class="sos-card">

        <h3 class="sos-name">{{ alert.elder_name }}</h3>

        <p class="sos-time">
            <strong>Time:</strong> {{ alert.date_time }}
        </p>

        <p class="sos-msg">
            {{ alert.message }}
        </p>

        {% if alert.status == 'pending' %}
            <a href="/resolve_sos/{{ alert.id }}">
                <button class="sos-btn-danger">🚨 Mark Resolved</button>
            </a>
        {% else %}
            <p class="sos-status resolved">✔ Resolved</p>
        {% endif %}

    </div>
</div>

{% else %}
<p style="text-align:center;">No SOS alerts</p>
{% endif %}

<div class="sos-history-link">
    <a href="{{ url_for('guardian_sos_alerts') }}">
        View Full History →
    </a>
</div>

</div>

{% endblock %}